/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Global /////////////////////////////////////////// */

body
{ 
	font-family: Open Sans, Arial;
	font-size:1.2em;
	background-color: #EEE;
  background-image: url("http://i.imgur.com/xA80pUb.jpg");
}

footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }

h1 
{
  font-family:'Atma',cursive;
}


.redBtn 
{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #FFF!important;
  font-weight:bold;
  background: #c74f0e;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  border:none;

}

.redBtn:hover 
{
  text-decoration: none;
  background-color:#b3470d;
}

.whiteBtn 
{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #555!important;
  font-weight:bold;
  background: #FFF;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  border: solid #aaa 1px;

}

.whiteBtn:hover 
{
  background: #FFF;
  border: solid #aaa 1px;
  text-decoration: none;
}

.textField
{
    width:100%;

}

.bottomPadding5px { padding-bottom:5px; }
.bottomPadding20px { padding-bottom:20px; }

.shadowEffect{ position:relative; }

.shadowEffect:before, .shadowEffect:after
{
  z-index:-1;
  position:absolute;
  content:"";
  bottom:15px;
  left:10px;
  width:80%;
  top:80%;
  max-width:300px;
  background:#777;
  box-shadow:0 15px 10px #000;
  transform: rotate(-3deg);

  opacity:0.8;
  -khtml-opacity:0.8;
  -moz-opacity:0.8;
  filter:alpha(opacity=80);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.shadowEffect:after
{
  transform:rotate(3deg);
  right:10px;
  left:auto;  
}

/* Trips Listing /////////////////////////////////////////// */


.indexAddEvents{float:right; text-align:right;}

.indexTripCard
{
	border:none;
  margin:20px 5px 20px 5px;
	padding:15px 0px 0px 0px; 
	background-color:white;
  display:inline-block;
   
}

.indexTripTitle
{	
  font-family: 'Shadows Into Light Two', cursive;
	font-size:1.8em;
	line-height:1em;
  margin-top:10px;
  margin-bottom:10px;
  letter-spacing: 1px;
  text-align: center;  

}

.indexTripDate 
{
  font-family: 'Shadows Into Light Two', cursive;
  font-size:1.1em;
  color:#222;
  letter-spacing: 1px;
  margin-bottom:5px;
  text-align: center;
  
}

.indexTripDistance
{
  font-family: 'Shadows Into Light Two', cursive;
  font-size:1.1em;
  color:#777;
  margin-bottom:10px;
  text-align: center;
  
}

.indexTripLinks
{
	

}

.indexAddEvents
{
    display: inline-block;
    vertical-align: bottom;
    padding:30px 0px 0px 0px;
}


.indexGlyphicon
{
  font-size:16px;
}

.indexGlyphiconLeft
{
  float:left; 
  width:45%; 
  padding-left:10px;"
  text-align:left;
  padding-bottom: 20px;
}

.indexGlyphiconRight
{
  float:right; 
  width:45%; 
  padding-right:10px;"
  text-align:right;
  padding-bottom: 20px;

}



/* New Event /////////////////////////////////////////// */

.newTripContainer
{
    background-color:white;
    border:solid 1px #CCC;
    padding: 20px;
   

}

.newTripDescriptionField
{
    height: 15em;

}

/* View Event /////////////////////////////////////////// */

.viewTripContentContainer
{
    font-size:1.2em;
    text-align:left;
    margin-bottom:10px;
    line-height:1.3em;

}

.viewTripButtonsContainer
{
    font-size:1.2em;
    padding-top:30px;
    padding-bottom:20px;
}

.viewTripButtonHolder
{
   padding-bottom:20px;

}